<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <worldline_redirect_payment>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <active>0</active>
                <!-- `<title>` field value needs for GraphQl queries -->
                <title>Pay with Worldline Online Payments (Select Solution)</title>
                <allowspecific>0</allowspecific>
                <allow_specific_currency>0</allow_specific_currency>
                <allow_specific_customer_group>0</allow_specific_customer_group>
                <debug>0</debug>
                <sort_order>30</sort_order>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_sale>1</can_sale>
                <authorization_mode>final</authorization_mode>
                <order_status>processing</order_status>
                <group>worldline_group</group>
                <vault>1</vault>
                <cart_lines>1</cart_lines>
                <skip_3d>0</skip_3d>
            </worldline_redirect_payment>
            <worldline_redirect_payment_vault>
                <model>Worldline\RedirectPayment\Model\Method\Vault\Virtual</model>
                <active>0</active>
                <title>Stored Cards (Worldline Online Payments)</title>
                <group>worldline_group</group>
            </worldline_redirect_payment_vault>
            <worldline_redirect_payment_861>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Alipay</title>
                <sort_order>10</sort_order>
            </worldline_redirect_payment_861>
            <worldline_redirect_payment_2>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>American Express</title>
                <sort_order>20</sort_order>
            </worldline_redirect_payment_2>
            <worldline_redirect_payment_302>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Apple Pay</title>
                <sort_order>30</sort_order>
            </worldline_redirect_payment_302>
            <worldline_redirect_payment_3012>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Bancontact</title>
                <sort_order>40</sort_order>
            </worldline_redirect_payment_3012>
            <worldline_redirect_payment_5001>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Bizum</title>
                <sort_order>50</sort_order>
            </worldline_redirect_payment_5001>
            <worldline_redirect_payment_130>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Carte Bancaire</title>
                <sort_order>60</sort_order>
            </worldline_redirect_payment_130>
            <worldline_redirect_payment_5100>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Cpay</title>
                <sort_order>70</sort_order>
            </worldline_redirect_payment_5100>
            <worldline_redirect_payment_132>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Diners Club</title>
                <sort_order>80</sort_order>
            </worldline_redirect_payment_132>
            <worldline_redirect_payment_320>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Google Pay</title>
                <sort_order>90</sort_order>
            </worldline_redirect_payment_320>
            <worldline_redirect_payment_809>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>iDEAL</title>
                <sort_order>100</sort_order>
            </worldline_redirect_payment_809>
            <worldline_redirect_payment_3112>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Illicado</title>
                <sort_order>110</sort_order>
            </worldline_redirect_payment_3112>
            <worldline_redirect_payment_5700>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Intersolve</title>
                <sort_order>120</sort_order>
            </worldline_redirect_payment_5700>
            <worldline_redirect_payment_125>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>JCB</title>
                <sort_order>130</sort_order>
            </worldline_redirect_payment_125>
            <worldline_redirect_payment_3301>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Klarna Pay Now</title>
                <sort_order>140</sort_order>
            </worldline_redirect_payment_3301>
            <worldline_redirect_payment_3302>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Klarna Pay Later</title>
                <sort_order>150</sort_order>
            </worldline_redirect_payment_3302>
            <worldline_redirect_payment_3303>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Klarna Financing</title>
                <sort_order>160</sort_order>
            </worldline_redirect_payment_3303>
            <worldline_redirect_payment_3304>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Klarna Bank Transfer</title>
                <sort_order>170</sort_order>
            </worldline_redirect_payment_3304>
            <worldline_redirect_payment_3305>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Klarna Direct Debit</title>
                <sort_order>180</sort_order>
            </worldline_redirect_payment_3305>
            <worldline_redirect_payment_117>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Maestro</title>
                <sort_order>190</sort_order>
            </worldline_redirect_payment_117>
            <worldline_redirect_payment_3>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Mastercard</title>
                <sort_order>200</sort_order>
            </worldline_redirect_payment_3>
            <worldline_redirect_payment_5402>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Mealvouchers</title>
                <sort_order>210</sort_order>
            </worldline_redirect_payment_5402>
            <worldline_redirect_payment_5500>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Multibanco</title>
                <sort_order>220</sort_order>
            </worldline_redirect_payment_5500>
            <worldline_redirect_payment_5110>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Oney 3x-4x</title>
                <sort_order>230</sort_order>
            </worldline_redirect_payment_5110>
            <worldline_redirect_payment_5125>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Oney Financement Long</title>
                <sort_order>240</sort_order>
            </worldline_redirect_payment_5125>
            <worldline_redirect_payment_840>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Paypal</title>
                <sort_order>250</sort_order>
            </worldline_redirect_payment_840>
            <worldline_redirect_payment_771>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>SEPA Direct Debit</title>
                <sort_order>260</sort_order>
            </worldline_redirect_payment_771>
            <worldline_redirect_payment_1>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>Visa</title>
                <sort_order>270</sort_order>
            </worldline_redirect_payment_1>
            <worldline_redirect_payment_863>
                <model>Worldline\RedirectPayment\Model\Method\Adapter\Virtual</model>
                <title>WeChat Pay</title>
                <sort_order>280</sort_order>
            </worldline_redirect_payment_863>
        </payment>
    </default>
</config>
