<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\StoreGraphQl\Model\Resolver\Store\StoreConfigDataProvider">
        <arguments>
            <argument name="extendedConfigData" xsi:type="array">
                <item name="worldline_redirect_payment_pwa_route" xsi:type="string">payment/worldline_redirect_payment/pwa_route</item>
                <item name="worldline_redirect_payment_allowspecific" xsi:type="string">payment/worldline_redirect_payment/allowspecific</item>
                <item name="worldline_redirect_payment_specificcountry" xsi:type="string">payment/worldline_redirect_payment/specificcountry</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Cart\Payment\AdditionalDataProviderPool">
        <arguments>
            <argument name="dataProviders" xsi:type="array">
                <item name="worldline_redirect_payment_1" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\AdditionalDataProvider</item>
                <item name="worldline_redirect_payment_2" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\AdditionalDataProvider</item>
                <item name="worldline_redirect_payment_3" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\AdditionalDataProvider</item>
                <item name="worldline_redirect_payment_117" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\AdditionalDataProvider</item>
                <item name="worldline_redirect_payment_125" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\AdditionalDataProvider</item>
                <item name="worldline_redirect_payment_130" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\AdditionalDataProvider</item>
                <item name="worldline_redirect_payment_132" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\AdditionalDataProvider</item>
                <item name="worldline_redirect_payment_3012" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\AdditionalDataProvider</item>
                <item name="worldline_redirect_payment_1_vault" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\VaultDataProvider</item>
                <item name="worldline_redirect_payment_2_vault" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\VaultDataProvider</item>
                <item name="worldline_redirect_payment_3_vault" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\VaultDataProvider</item>
                <item name="worldline_redirect_payment_117_vault" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\VaultDataProvider</item>
                <item name="worldline_redirect_payment_125_vault" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\VaultDataProvider</item>
                <item name="worldline_redirect_payment_130_vault" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\VaultDataProvider</item>
                <item name="worldline_redirect_payment_132_vault" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\VaultDataProvider</item>
                <item name="worldline_redirect_payment_3012_vault" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\VaultDataProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Worldline\PaymentCore\GraphQl\Model\PaymentIcons\IconsPool">
        <arguments>
            <argument name="iconsRetrievers" xsi:type="array">
                <item name="worldline_redirect_payment_" xsi:type="object">Worldline\RedirectPayment\GraphQl\Model\IconsRetriever</item>
            </argument>
        </arguments>
    </type>
</config>
