<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="worldline_payment">
            <tab>worldline</tab>
            <resource>Worldline_PaymentCore::config_worldline</resource>
            <group id="redirect_payment" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Redirect Payment</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1">
                    <label>Enable Payment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/worldline_redirect_payment/active</config_path>
                </field>
                <field id="vault" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>Enable Saved Payment (Vault)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/worldline_redirect_payment_vault/active</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <requires>
                        <group id="active"/>
                    </requires>
                </field>
                <field id="vault_title" type="text" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Vault Title</label>
                    <validate>required-entry</validate>
                    <config_path>payment/worldline_redirect_payment_vault/title</config_path>
                    <depends>
                        <field id="active">1</field>
                        <field id="vault">1</field>
                    </depends>
                </field>
                <field id="allow_specific_customer_group" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Payment from Applicable Customer Groups</label>
                    <source_model>Worldline\PaymentCore\Model\Config\Source\AllSpecificCustomerGroups</source_model>
                    <config_path>payment/worldline_redirect_payment/allow_specific_customer_group</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="customer_group" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1">
                    <label>Payment from Specific Customer Groups</label>
                    <source_model>Magento\Customer\Model\Customer\Source\GroupSourceInterface</source_model>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="active">1</field>
                        <field id="allow_specific_customer_group">1</field>
                    </depends>
                    <config_path>payment/worldline_redirect_payment/customer_group</config_path>
                </field>
                <field id="template_id" type="text" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>HTML Template ID</label>
                    <validate>validate-html-template-id</validate>
                    <config_path>payment/worldline_redirect_payment/template_id</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/worldline_redirect_payment/debug</config_path>
                </field>
                <field id="payment_action" type="select" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1">
                    <label>Payment Action</label>
                    <source_model>Worldline\PaymentCore\Model\Config\Source\PaymentActionOptions</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/worldline_redirect_payment/payment_action</config_path>
                </field>
                <field id="authorization_mode" type="select" translate="label" sortOrder="90" showInDefault="1" showInWebsite="1">
                    <label>Authorization Mode</label>
                    <source_model>Worldline\PaymentCore\Model\Config\Source\AuthorizationModeOptions</source_model>
                    <depends>
                        <field id="active">1</field>
                        <field id="payment_action">authorize</field>
                    </depends>
                    <config_path>payment/worldline_redirect_payment/authorization_mode</config_path>
                </field>
                <field id="order_status" type="select" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1">
                    <label>Default Order Status</label>
                    <source_model>Worldline\PaymentCore\Model\Config\Source\OrderStatusOptions</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <config_path>payment/worldline_redirect_payment/order_status</config_path>
                </field>
                <field id="cart_lines" translate="label tooltip" type="select" sortOrder="110" showInDefault="1" showInWebsite="1">
                    <label>Submit Customer Cart Items Data to Worldline</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/worldline_redirect_payment/cart_lines</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="session_timeout" translate="label comment tooltip" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Session Timeout</label>
                    <validate>validate-digits validate-digits-range digits-range-1-1440</validate>
                    <config_path>payment/worldline_redirect_payment/session_timeout</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                    <comment>Enter a value from 1-1440. Default value is 180.</comment>
                    <tooltip>Set in minutes how long the hosted payment page session should last for. Customers attempting to process their payment past this time limit will not be allowed to complete their transaction. Allowed value ranges from 1 minute to 1440 minutes (24 hours). By default, the hosted payment page has a session timeout of 180 minutes. Leave this box empty to use the default session timeout.</tooltip>
                </field>
                <include path="Worldline_RedirectPayment::system/alipay.xml"/>
                <include path="Worldline_RedirectPayment::system/american_express.xml"/>
                <include path="Worldline_RedirectPayment::system/apple_pay.xml"/>
                <include path="Worldline_RedirectPayment::system/bancontact.xml"/>
                <include path="Worldline_RedirectPayment::system/bank_transfer.xml"/>
                <include path="Worldline_RedirectPayment::system/bizum.xml"/>
                <include path="Worldline_RedirectPayment::system/carte_bancaire.xml"/>
                <include path="Worldline_RedirectPayment::system/cpay.xml"/>
                <include path="Worldline_RedirectPayment::system/diners_club.xml"/>
                <include path="Worldline_RedirectPayment::system/eps.xml"/>
                <include path="Worldline_RedirectPayment::system/giftcard_limonetik.xml"/>
                <include path="Worldline_RedirectPayment::system/google_pay.xml"/>
                <include path="Worldline_RedirectPayment::system/ideal.xml"/>
                <include path="Worldline_RedirectPayment::system/illicado.xml"/>
                <include path="Worldline_RedirectPayment::system/intersolve.xml"/>
                <include path="Worldline_RedirectPayment::system/jcb.xml"/>
                <include path="Worldline_RedirectPayment::system/klarna_bank_transfer.xml"/>
                <include path="Worldline_RedirectPayment::system/klarna_direct_debit.xml"/>
                <include path="Worldline_RedirectPayment::system/klarna_financing.xml"/>
                <include path="Worldline_RedirectPayment::system/klarna_pay_later.xml"/>
                <include path="Worldline_RedirectPayment::system/klarna_pay_now.xml"/>
                <include path="Worldline_RedirectPayment::system/maestro.xml"/>
                <include path="Worldline_RedirectPayment::system/mastercard.xml"/>
                <include path="Worldline_RedirectPayment::system/mealvouchers.xml"/>
                <include path="Worldline_RedirectPayment::system/multibanco.xml"/>
                <include path="Worldline_RedirectPayment::system/oney3x-4x.xml"/>
                <include path="Worldline_RedirectPayment::system/oney_financement_long.xml"/>
                <include path="Worldline_RedirectPayment::system/oneybrandedgiftcard.xml"/>
                <include path="Worldline_RedirectPayment::system/paypal.xml"/>
                <include path="Worldline_RedirectPayment::system/przelewy24.xml"/>
                <include path="Worldline_RedirectPayment::system/sepa_direct_debit.xml"/>
                <include path="Worldline_RedirectPayment::system/twint.xml"/>
                <include path="Worldline_RedirectPayment::system/union_pay_int.xml"/>
                <include path="Worldline_RedirectPayment::system/visa.xml"/>
                <include path="Worldline_RedirectPayment::system/wechat_pay.xml"/>
            </group>
        </section>
    </system>
</config>
